$font-principal: 'Noto Sans KR', sans-serif;
$headerHeight: 70px;
$tablet: "max-width: 991.98px";
$mobile: "max-width: 767.98px";
$sm-mobile: "max-width: 575.98px";
$colorEvento0: #81ACDC;
$colorEvento1: #69D0ED;
$colorEvento2: #FED03D;
$colorEvento3: #FA5D6C;


:root{
    --primary: #14ACA5;
    --gray: #212121;
    --light-gray: #424242;
    --gray-light:#959595;
    --blue:#2072B2;
    --yellow: #FEEB0B;
    --orange: #E6983C;
    --green: #72AC29;
    --blue-sky: #20B2AA;
    --light-dark: #2D2D2D;
    --red: #E24141;
    --pago: #14ACA5;
}