@import 'variables';



//plugins
@import 'plugins/bx_slider.scss';
@import 'plugins/owl_carousel.scss';

//components

//commons
@import 'commons/header';
@import 'commons/footer.scss';

//sections
@import 'sections/home';

//responsive
@import 'responsive';
*{
    margin: 0;
    padding: 0;
    border: 0;
}